@tailwind base;
@tailwind components;
@tailwind utilities;    

html {
    scroll-behavior: smooth!important; 
    -webkit-scroll-behavior: smooth!important;
    -moz-scroll-behavior: smooth!important;
    -ms-scroll-behavior: smooth!important;
}
body {
    font-family: 'Lexend Giga', sans-serif;
}
.slanted-cut {
    clip-path: circle(40%);
}
.h-tag-style h1 {
    font-size: 2.25rem;
    font-weight: 700;
}
.h-tag-style h2 {
    font-size: 1.75rem;
    font-weight: 600;
}
.h-tag-style h3 {
    font-size: 1.25rem;
    font-weight: 500;
}
.h-tag-style h4 {
    font-size: 1rem;
    font-weight: 400;
}
.h-tag-style h5 {
    font-size: 0.875rem;
    font-weight: 300;
}
.h-tag-style h6 {
    font-size: 0.75rem;
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    .slanted-cut {
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
    .arrow {
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
        animation-iteration-count: infinite;
    }
}

@media screen and (min-width: 1280px) {
    .fix-large-screen {
        right: calc(50% - 458px);
    }
}